<div class="container" style="margin-top: 2%">
  <h1>Periodo</h1>
  <form [formGroup]="rangeForm">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col" colspan="2">Rango de calificación</th>
          <th scope="col">Nota final</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="ranges.length <= 0">
          <td colspan="3"><em>No hay rangos de calificaciones</em></td>
        </tr>
        <tr *ngFor="let range of ranges">
          <td>
            <input type="number" formControlName="lower" name="lower" required placeholder="1.00" />
          </td>
          <td>
            <input type="number" formControlName="upper" name="uper" required placeholder="5.00" />
          </td>
          <td>
            <input type="text" formControlName="name" name="name" required placeholder="Excelente" />
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="addRange()">
      <i class="fas fa-plus"></i>
      Agregar un rango
    </button>
    <button type="button" class="btn btn-danger btn-lg btn-block" (click)="deleteRange()">
      <i class="fas fa-times"></i>
      Eliminar ultimo rango
    </button>
    <button [disabled]="!rangeForm.valid" type="button" class="btn btn-success btn-lg btn-block">
      <i class="fas fa-upload"></i>
      Enviar periodo
    </button>
  </form>
</div>